$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...


.results {
    display: flex;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.input {
    height: 40px;
    padding: 2rem;
}

.result {
    display: flex; 
    justify-content: center;
    flex-direction: row;
    width: 800px;
}

.result-item {
    width: 50%;
}

.header {
    padding-bottom: 3rem;
    border-bottom: 2px solid;
}